* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.hide {
  display: none;
}

button:hover {
  cursor: grab;
}

button {
  border: solid #ff9900 3px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 2px 11px -4px black;
  padding: 0.5em;
  margin-top: 0.5em;
}

button:active {
  box-shadow: none;
}

html,
body {
  height: fit-content;
}

body {
  text-align: center;
  font-size: 16px;
}

.app-name {
  cursor: grab;
}

#config-container {
  text-align: left;
}

.profile-enabled {
  accent-color: #ff9900;
  color: white;
}

.app-container {
  display: block;
  padding: 1em;
}

.app-container:not(:last-of-type) {
  border-bottom: solid 1px rgb(222, 222, 222);
}

.app-name {
  font-weight: bold;
  white-space: nowrap;
}

.app-name > span {
  font-weight: normal;
  color: gray;
}

p.profile-name {
  font-weight: bold;
  align-self: center;
}

.profile-container {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: auto 1fr 2em;
  column-gap: 1em;
  margin-left: 1em;
  align-items: stretch;
}

input.profile-alias {
  font-size: 1em;
  padding: 5px;
  width: 100%;
  border: solid black 1px;
  border-radius: 5px;
}

.transparent-text {
  color: transparent;
}

div#config-container p {
  white-space: nowrap;
}
